@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
}

.btn-primary {
  display: inline-block;
  background-color: #007bff; /* Primary color */
  color: #fff; /* Text color */
  border: none; /* Removes border */
  padding: 10px 20px; /* Padding for size */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 240px;
}
nav li a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}

/* banner styles */

.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-container img {
  width: 100%;
}

/* main section styles */
main {
  max-width: 1400px;
  margin: 0px auto;
  margin-top: 20px;
}
.team-container {
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-details {
  padding-left: 70px;
  padding-right: 70px;
}

/* responsive styles of header */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .team-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 30px;
  }
  nav {
    flex-direction: column;
  }
  .team-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}
